{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShop</title>
    <!-- <link rel="stylesheet" href="../static/style/book_style.css">  -->
    <link rel="stylesheet" href="{% static '../static/style/book_style.css' %}">
</head>

<body>
    <section>
        <div class="form_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <p>Добавление новой книги</p>
                <label for="title">Заголовок</label>
                <input type="text" id="title" name="book_title" placeholder="title">

                <label for="subtitle">Подзаголовок</label>
                <input type="text" id="subtitle" name="book_subtitle" placeholder="subtitle">

                <label for="description">Описание</label>
                <input type="text" id="description" name="book_description" placeholder="description">

                <label for="price">Цена</label>
                <input type="number" id="price" name="book_price" placeholder="price">

                <label for="genre">Жанр</label>
                <input type="text" id="genre" name="book_genre" placeholder="genre">

                <label for="author">Автор</label>
                <input type="text" id="author" name="book_author" placeholder="author">

                <label for="year">Год выхода книги</label>
                <input type="datetime-local" id="year" name="book_year" placeholder="year">

                <input type="submit" value="Добавить">

            </form>
        </div>


        <div class="book_container">
            
            {% for item in book_item %}
                <div class="block
                    {% if item.is_favorite %}
                        marked
                    {% endif %}
                
                ">
                    <div class="book_header">
                        <h3>{{item.title}}</h3>
                        <h4>{{item.author}}</h4>
                        <h5>{{item.year}}</h5>
                    </div>

                    <div class="book_footer">
                        {% if item.is_favorite %}
                            <a href="{% url 'unmark-book' item.id %}"><img  src="{% static '../static/icons/yellow.png' %}" alt=""></a>
                        {% else %}
                            <a href="{% url 'mark-book' item.id %}"><img  src="{% static '../static/icons/star.png' %}" alt=""></a>
                        {% endif %}
                        <a href="{% url 'delete-book' item.id %}"><img  src="{% static '../static/icons/basket.png' %}" alt=""></a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

</body>

</html>